numpy>=2.4
pandas>=3.0
matplotlib>=3.10
rasterio>=1.4
geopandas>=1.1
shapely>=2.1
pyproj>=3.7
rioxarray>=0.19
xarray>=2026.1

pystac>=1.14
pystac-client>=0.9
sentinelhub>=3.11

google-cloud-storage>=3.9

requests>=2.32
python-dotenv>=1.2
tqdm>=4.67
utm>=0.8
pyarrow>=23.0